{
	"extends": [
		"standard",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"modules": true
		}
	},
	"rules": {
		"brace-style": ["error", "stroustrup"],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"no-tabs": ["off"],
		"operator-linebreak": ["error", "before"],
		"semi": ["error", "always"],
		"space-before-function-paren": ["error", {
			"anonymous": "always",
			"asyncArrow": "always",
			"named": "never"
		}]
	},
	"env": {
		"browser": true
	}
}
