.header {
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	align-items: center;
}

.header .icon-nasa-logo {
	opacity: 0.5;
	margin-right: 15px;
}

.header .title,
.header .subtitle {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header .title {
	line-height: 1.1;
	opacity: 0.75;
	margin-right: 3px;
}

.header .subtitle {
	line-height: 1;
	opacity: 0.5;
}

.header .title .first {
	letter-spacing: 0.2rem;
}

.header .title .second {
	letter-spacing: 0.3rem;
}

.header .title span,
.header .subtitle span {
	display: block;
}

.header .disclaimer {
	opacity: 0.25;
}

.header .credits {
	opacity: 0.25;
	justify-self: right;
}
.header .credits em {
	font-style: normal;
}

.header .version {
	opacity: 0.75;
	color: yellow;
	font-weight: 600;
}

/* Phones, 991px and down */
@media only screen and (max-width: 991px)  {
	.header .disclaimer {
		grid-column: 4;
		grid-row: 2;
		justify-self: end;
		opacity: 0.25;
		text-align: right;
		margin-top: -25px;
	}

	.header .version {
		grid-column: 4;
		grid-row: 3;
		justify-self: end;
		margin-top: 8px;
	}

	.header .credits {
		text-align: right;
		align-self: start;
	}
	.header .credits span {
		display: block;
	}
	.header .credits .powered {
		display: none;
	}
}

/* Laptops/desktops, large devices, and screens with width >= 992px */
@media only screen and (min-width: 992px) {
	.header .disclaimer {
		position: absolute;
		margin: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.header .version {
		position: absolute;
		margin: auto;
		margin-top: 40px;
		left: 50%;
		transform: translateX(-50%);
	}
}

/* Mobile landscape, panorama with height less than 600px */
@media only screen and (max-height: 600px) and (orientation: landscape) {
	.header .disclaimer {
		position: absolute;
		margin: auto;
		margin-top: 20px;
		left: 50%;
		transform: translateX(-50%);
		grid-row: unset;
		grid-column: unset;
	}
	.header .version {
		position: absolute;
		margin: auto;
		margin-top: 40px;
		left: 50%;
		transform: translateX(-50%);
		grid-row: unset;
		grid-column: unset;
	}

}
