.header {
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	align-items: center;
}

.header .icon-nasa-logo {
	opacity: 0.5;
	margin-right: 15px;
}

.header .title,
.header .subtitle {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header .title {
	line-height: 1.1;
	opacity: 0.75;
	margin-right: 3px;
}

.header .subtitle {
	line-height: 1;
	opacity: 0.5;
}

.header .title .first {
	letter-spacing: 0.2rem;
}

.header .title .second {
	letter-spacing: 0.3rem;
}

.header .title span,
.header .subtitle span {
	display: block;
}

@keyframes pulse {
	0% {
		opacity: 0.0;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 1.0;
	}
}
.header .disclaimer {
	animation-name: pulse;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 8;
	animation-direction: alternate;
	display: block;
}

.header .credits {
	opacity: 0.25;
	justify-self: right;
	grid-column: 4;
	grid-row: 1;
}
.header .credits em {
	font-style: normal;
}

/* 480x320 phones and above */
@media only screen and (min-width: 320px) {
	.header .disclaimer {
		grid-column: 4;
		grid-row: 2;
		justify-self: end;
		opacity: 0.25;
		text-align: right;
		margin-top: -10px;
		font-size: 14px; /* small */
		line-height: 150%;
		letter-spacing: 0;
	}

	.header .credits {
		text-align: right;
		align-self: center;
	}
	.header .credits span {
		display: block;
	}
	.header .credits .powered {
		display: none;
	}
}

/* Landscape. 480x320 phones and above */
@media only screen and (min-width: 320px) and (orientation: landscape),
/* Portrait. Portrait tablets/iPad and above */
screen and (min-width: 641px) and (orientation: portrait) {
	.header .disclaimer {
		grid-column: 4;
		grid-row: 2;
		justify-self: end;
		opacity: 0.25;
		text-align: right;
		margin: -10px 0 0;
		font-size: 14px; /* small */
		line-height: 150%;
		letter-spacing: 0;
		position: relative;
		left: auto;
		top: auto;
		transform: none;
	}
}

/* Exclude panorama. Big landscape tablets, laptops/desktops, and above */
@media only screen and (min-width: 1025px) and (min-height: 600px) {
	.header .disclaimer {
		position: absolute;
		margin: auto;
		margin-top: 20px;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		grid-row: unset;
		grid-column: unset;
		font-size: 16px; /* normal */
	}
	.header .credits {
		margin-right: 10px;
	}
}