/* Date time container */
.clock .datetime-container .display-container {
	opacity: 0.6;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 5px;
	white-space: nowrap;
}
.clock .datetime-container .display-container.hidden {
	display: none;
}
.clock .date,
.clock .time,
.clock .meridiem {
	margin-right: 0;
	font-variant: tabular-nums;
}

.clock .time {
	margin-left: 10px;
}

/* Input */
.clock .hour-input {
	opacity: 0.6;
}
.clock .datetime-container input,
.clock .datetime-container form {
	margin: 0;
	padding: 0;
}

/* Phones, 991px and down */
@media only screen and (max-width: 991px) {
	.clock {
		margin-bottom: 15px;
	}
	.clock .datetime-container {
		grid-column: 2;
		grid-row: 1;
	}
	.clock .datetime-container .display-container {
		justify-content: end;
		margin: 0;
		gap: 2px;
	}
	.clock .datetime-container form,
	.clock .datetime-container input {
		text-align: right;
	}
}

/* Laptops/desktops, large devices, and screens with width >= 992px */
@media only screen and (min-width: 992px) {
	.clock .datetime-container {
		grid-row: 2;
		grid-column: 1;
	}
	.clock .datetime-container .display-container {
		justify-content: start;
		margin-left: 8px;
	}
	.clock .hour-input {
		margin-left: 8px;
	}
	.alert {
		outline-offset: 0;
	}
}

/* Mobile landscape, panorama with height less than 600px */
@media only screen and (max-height: 600px) and (orientation: landscape) {
	.clock {
		margin-bottom: 8px;
	}
	.clock .datetime-container {
		grid-column: 2;
		grid-row: 1;
	}
	.clock .datetime-container .display-container {
		justify-content: end;
		margin: 0;
	}
}