/* Shared properties */

/* 480x320 phones and above */
@media only screen and (min-width: 320px) {
	/* Story panel */
	.grid-layout .story-panel {
		grid-column: main-start / side-end;
		grid-row: extm-start / foot-end;
	}

	/* Header */
	.grid-layout header {
		grid-area: head;
		height: 80px;
		padding: 0 10px;
	}

	/* Controls */
	.grid-layout .float-right-bottom {
		grid-column: extf-end / side-end;
		grid-row: foot-start / foot-end;
		align-self: end;
		justify-self: start;
		width: 100%;
	}

	/* Time */
	.grid-layout .float-mid-bottom {
		grid-column: main-start / side-end;
		grid-row: extf-start / foot-end;
		grid-template-columns: auto max-content;
		grid-template-rows: auto auto auto;
		align-self: end;
		justify-self: center;
		margin: 0 20px;
		width: calc(100% - 40px);
		display: grid;
		justify-items: start;
		gap: 10px 5px;
	}

	/* Overlay */
	.grid-layout .overlay {
		grid-column: main-start / side-end;
		grid-row: head-start / foot-end;
		z-index: 1000;
	}
}

/* Landscape. 480x320 phones and above */
@media only screen and (min-width: 320px) and (orientation: landscape),
/* Portrait. Portrait tablets/iPad and above */
screen and (min-width: 641px) and (orientation: portrait) {
	/* Story panel */
	.grid-layout .story-panel {
		grid-column: main-start / side-end;
		grid-row: main-start / foot-end;
	}

	/* Header */
	.grid-layout header {
		grid-area: head;
		height: 60px;
		padding: 0;
	}

	/* Controls */
	.grid-layout .float-right-bottom {
		grid-column: 9 / side-end;
		grid-row: foot-start / foot-end;
		justify-self: end;
		display: grid;
		align-items: center;
		justify-content: end;
		height: 51px;
	}

	/* Time */
	.grid-layout .float-mid-bottom {
		grid-template-columns: auto max-content;
		grid-template-rows: auto auto;
		grid-column: main-start / side-end;
		grid-row: extf-start / foot-end;
		height: auto;
		align-self: end;
		display: grid;
		align-items: initial;
		justify-items: start;
		gap: 10px 5px;
		width: 100%;
		margin: 0;
	}
}

/* Exclude panorama. Big landscape tablets, laptops/desktops, and above */
@media only screen and (min-width: 1025px) and (min-height: 600px) {
	/* Story panel */
	.grid-layout .story-panel {
		grid-column: main-start / extd-end;
		grid-row: head-start / foot-end;
	}

	/* Header */
	.grid-layout header {
		grid-area: head;
		height: 65px;
	}

	/* Controls */
	.grid-layout .float-right-bottom {
		grid-column: side-start / side-end;
		grid-row: side-start / foot-end;
		align-self: end;
		justify-self: end;
		width: 30px;
		margin-bottom: 25px;
		height: 100%;
	}

	/* Time */
	.grid-layout .float-mid-bottom {
		grid-template-columns: minmax(250px, 30%) 70%;
		grid-template-rows: 50% 50%;
		grid-column: extd-end / side-start;
		grid-row: foot-start / foot-end;
		align-self: center;
		align-items: center;
		justify-items: start;
		height: auto;
		display: grid;
		gap: 0 30px;
	}
}
