.settings .horizontal-line {
	background: var(--grayDark);
	box-sizing: border-box;
	margin: auto;
}
.settings .zoom {
	display: grid;
	margin: 0;
}

/* 480x320 phones and above */
@media only screen and (min-width: 320px) {
	.settings .zoom {
		grid-template-rows: 30px 2px 30px;
		grid-template-columns: 30px;
	}
	.settings .horizontal-line {
		height: 2px;
		width: 22px;
	}
}

/* Landscape. 480x320 phones and above */
@media only screen and (min-width: 320px) and (orientation: landscape) {
	.settings .zoom {
		display: flex;
	}
	.settings .horizontal-line {
		height: 22px;
		width: 2px;
		display: inline-block;
	}
}

/* Portrait. Portrait tablets/iPad and above */
@media only screen and (min-width: 641px) and (orientation: portrait) {
	.settings {
		margin-right: 0;
	}
	.settings .zoom {
		display: flex;
	}
	.settings .horizontal-line {
		height: 22px;
		width: 2px;
		display: inline-block;
	}
}

/* Exclude panorama. Big landscape tablets, laptops/desktops, and above */
@media only screen and (min-width: 1025px) and (min-height: 600px) {
	.settings .zoom {
		grid-template-rows: 30px 2px 30px;
		grid-template-columns: 30px;
	}
	.settings .horizontal-line {
		height: 2px;
		width: 22px;
	}
	.settings .info-panel {
		display: none;
	}
}
