.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(./assets/svg/sprite.svg);
}
@media (hover: hover) {
	.icon-checkbox:hover {
		width: 15px;
		height: 15px;
		background-position: 0 0;
	}
}
.icon-checkbox {
	width: 15px;
	height: 15px;
	background-position: -31px 0;
}
.icon-checkbox-selected {
	width: 15px;
	height: 15px;
	background-position: -62px 0;
}
.icon-radio-circle {
	width: 15px;
	height: 15px;
	background-position: -93px 0;
}
@media (hover: hover) {
	.icon-radio-circle:hover {
		width: 15px;
		height: 15px;
		background-position: -124px 0;
	}
}
.icon-radio-selected {
	width: 15px;
	height: 15px;
	background-position: -155px 0;
}
.icon-backward {
	width: 14px;
	height: 14px;
	background-position: 0 -31px;
}
.icon-forward {
	width: 14px;
	height: 14px;
	background-position: -30px -31px;
}
.icon-back-to-live {
	width: 10px;
	height: 10px;
	background-position: 0 -61px;
}
.icon-live {
	width: 10px;
	height: 10px;
	background-position: -26px -61px;
}
.icon-natural-light {
	width: 8px;
	height: 16px;
	background-position: 0 -87px;
}
.icon-flood-light {
	width: 16px;
	height: 16px;
	background-position: -32px -87px;
}
.icon-shadow-light {
	width: 16px;
	height: 16px;
	background-position: -64px -87px;
}
.icon-info {
	width: 30px;
	height: 30px;
	background-position: 0 -119px;
}
@media (hover: hover) {
	.icon-box:hover {
		width: 30px;
		height: 30px;
		background-position: -46px -119px;
	}
}
.icon-box {
	width: 30px;
	height: 30px;
	background-position: -92px -119px;
}
.icon-hide {
	width: 30px;
	height: 30px;
	background-position: -138px -119px;
}
@media (hover: hover) {
	.icon-hide:hover {
		width: 30px;
		height: 30px;
		background-position: -184px -119px;
	}
}
.icon-km {
	width: 30px;
	height: 30px;
	background-position: -230px -119px;
}
@media (hover: hover) {
	.icon-km:hover {
		width: 30px;
		height: 30px;
		background-position: -276px -119px;
	}
}
.icon-mi {
	width: 30px;
	height: 30px;
	background-position: -322px -119px;
}
@media (hover: hover) {
	.icon-mi:hover {
		width: 30px;
		height: 30px;
		background-position: -368px -119px;
	}
}
.icon-lighting {
	width: 54px;
	height: 30px;
	background-position: -414px -119px;
}
@media (hover: hover) {
	.icon-lighting:hover {
		width: 54px;
		height: 30px;
		background-position: -506px -119px;
	}
}
.icon-fullscreen {
	width: 30px;
	height: 30px;
	background-position: -598px -119px;
}
@media (hover: hover) {
	.icon-fullscreen:hover {
		width: 30px;
		height: 30px;
		background-position: -644px -119px;
	}
}
.icon-expand {
	width: 30px;
	height: 30px;
	background-position: -690px -119px;
}
@media (hover: hover) {
	.icon-expand:hover {
		width: 30px;
		height: 30px;
		background-position: 0 -165px;
	}
}
.icon-arrow-down {
	width: 30px;
	height: 30px;
	background-position: -46px -165px;
}
.icon-arrow-up {
	width: 30px;
	height: 30px;
	background-position: -46px -165px;
	transform: rotate(180deg);
}
.icon-arrow-right {
	width: 30px;
	height: 30px;
	background-position: -92px -165px;
}
.icon-arrow-left {
	width: 30px;
	height: 30px;
	background-position: -92px -165px;
	transform: rotate(180deg);
}
@media (hover: hover) {
	.icon-controls:hover {
		width: 30px;
		height: 30px;
		background-position: -138px -165px;
	}
}
.icon-controls {
	width: 30px;
	height: 30px;
	background-position: -184px -165px;
}
.icon-expand-side {
	width: 30px;
	height: 30px;
	background-position: -230px -165px;
}
@media (hover: hover) {
	.icon-expand-side:hover {
		width: 30px;
		height: 30px;
		background-position: -276px -165px;
	}
}
.icon-replay {
	width: 30px;
	height: 30px;
	background-position: -322px -165px;
}
.icon-menu {
	width: 30px;
	height: 30px;
	background-position: -368px -165px;
}
.icon-search {
	width: 30px;
	height: 30px;
	background-position: -414px -165px;
}
.icon-close {
	width: 30px;
	height: 30px;
	background-position: -460px -165px;
}
.icon-minus {
	width: 30px;
	height: 30px;
	background-position: -506px -165px;
}
.icon-plus {
	width: 30px;
	height: 30px;
	background-position: -552px -165px;
}
.icon-collapse {
	width: 30px;
	height: 30px;
	background-position: -598px -165px;
}
@media (hover: hover) {
	.icon-collapse:hover {
		width: 30px;
		height: 30px;
		background-position: -644px -165px;
	}
}
.icon-collapse-side {
	width: 30px;
	height: 30px;
	background-position: -690px -165px;
}
@media (hover: hover) {
	.icon-collapse-side:hover {
		width: 30px;
		height: 30px;
		background-position: 0 -211px;
	}
}
.icon-dropdown {
	width: 30px;
	height: 30px;
	background-position: -46px -211px;
}
.icon-dropup {
	width: 31px;
	height: 30px;
	background-position: -92px -211px;
}
.icon-greater {
	width: 30px;
	height: 30px;
	background-position: -138px -211px;
}
.icon-lesser {
	width: 30px;
	height: 30px;
	background-position: -184px -211px;
}
.icon-pause {
	width: 30px;
	height: 30px;
	background-position: -230px -211px;
}
@media (hover: hover) {
	.icon-pause:hover {
		width: 30px;
		height: 30px;
		background-position: -276px -211px;
	}
}
.icon-play {
	width: 30px;
	height: 30px;
	background-position: -322px -211px;
}
@media (hover: hover) {
	.icon-play:hover {
		width: 30px;
		height: 30px;
		background-position: -368px -211px;
	}
}
.icon-telescope {
	width: 30px;
	height: 30px;
	background-position: -414px -211px;
}
@media (hover: hover) {
	.icon-telescope:hover {
		width: 30px;
		height: 30px;
		background-position: -460px -211px;
	}
}
