.carousel .track {
	background: transparent url(./assets/svg/timeline-bg.svg) repeat-y 0 0;
}
.carousel .slide {
	position: relative;
}

/* Navigation */
.carousel.vertical .navigation-button.prev {
	display: none;
}
.carousel .slide .container {
	grid-template-rows: auto max-content;
}
.carousel.vertical .navigation-button {
	text-align: left;
	padding-left: 10%;
}
.carousel .navigation-button:focus {
	outline: 0;
}
.carousel .navigation-button:hover {
	background: transparent;
}

/* Slide content */
.carousel .slide .content {
	align-content: center;
}
.carousel .slide .content .live {
	color: var(--live);
	text-transform: uppercase;
}
.carousel .slide .content .description {
	opacity: 0.6;
}

.carousel .slide.hidden {
	opacity: 0;
}
.carousel .velocity span,
.carousel .altitude span,
.carousel .distance span {
	display: inline-block;
}
.carousel .unit {
	margin-left: 5px;
	margin-right: 8px;
	opacity: 0.9;
}
.carousel .label {
	opacity: 0.9;
}
.carousel .velocity .value,
.carousel .altitude .value {
	margin-left: 8px;
}

@keyframes pulse {
	0% {
		opacity: 0.0;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.75;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}


/* Phones, 991px and down */
@media only screen and (max-width: 991px) {
	.carousel {
		pointer-events: none;
		--story-height: calc((100vh - 16px) * 3 / 5 + 8px);
	}
	.carousel .track {
		pointer-events: none;
		background: none;
	}
	.carousel .slide {
		height: var(--story-height);
	}
	.carousel .slide.hidden * {
		pointer-events: none;
	}
	.carousel .slide .container {
		align-items: end;
		pointer-events: none;
		align-content: end;
		padding-bottom: 20px;
	}
	.carousel .slide .content {
		padding: 0 20px;
		margin: 0;
		align-content: end;
		pointer-events: all;
		position: relative;
		background: transparent url(./assets/svg/timeline-bg.svg) repeat-y 0 0;
	}
	.carousel .body {
		overflow: hidden;
	}

	/* Content */
	.carousel .title {
		font-size: 24px;
		line-height: 95%;
		margin-bottom: 10px;
		margin-right: 25px;
	}
	.carousel .phase .label {
		display: none;
	}
	.carousel .description {
		display: none;
	}
	.carousel .description.mobile {
		display: block;
	}

	/* Buttons */
	.carousel .navigation-button {
		display: none;
	}
	.carousel .collapse-button {
		position: absolute;
		top: 0;
		right: 10px;
		outline: none;
	}
	.carousel .hint-button {
		position: absolute;
		top: -30px;
		left: 50%;
		transform: rotate(-90deg) translateY(-50%) scale(1);
		pointer-events: none;
		display: none;
	}

	/* Animations */
	@keyframes shrink {
		0% {
			max-height: var(--story-height);
		}
		100% {
			max-height: 0;
		}
	}
	@keyframes develop {
		0% {
			max-height: 0;
		}
		100% {
			max-height: var(--story-height);
		}
	}
	.carousel.expand .body {
		animation-name: develop;
		animation-duration: 1.0s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}
	.carousel.collapse .body {
		animation-name: shrink;
		animation-duration: 0.4s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}
	.carousel.expand .hint-button {
		animation-name: pulse;
		animation-duration: 0.75s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 8;
		animation-fill-mode: both;
		animation-direction: alternate;
		display: block;
	}
}

/* Laptops/desktops, large devices, and screens with width >= 992px */
@media only screen and (min-width: 992px) {
	.carousel {
		height: calc(100% - 85px);
	}
	.carousel .slide .container {
		padding-right: 20px;
	}
	.carousel .slide .container:hover {
		background: linear-gradient(90deg, rgba(37, 37, 39, 0.2) 0%,  rgba(37, 37, 39, 0) 25%,  rgba(37, 37, 39, 0) 50%, rgba(37, 37, 39, 0.2) 100%);
		background-size: 200% 100%;
		animation: gradient 10s ease 1;
		animation-fill-mode: both;
	}
	body.hover .carousel .container:hover::after {
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: linear-gradient(180deg, rgba(149, 149, 157, 0) 0%, rgba(149, 149, 157, 0.5) 50%, rgba(149, 149, 157, 0) 100%);
	}
	.carousel .slide {
		height: calc(100vh - 85px);
	}
	.carousel .slide .content {
		padding-right: 0;
	}
	.carousel .title {
		margin-bottom: 15px;
	}
	.carousel .slide .content .touchdown {
		margin-bottom: 20px;
	}
	.carousel .description {
		display: block;
	}
	.carousel .description.mobile {
		display: none;
	}
	.carousel .hint-button,
	.carousel .collapse-button {
		display: none;
	}
}

/* Mobile landscape, panorama with height less than 600px */
@media only screen and (max-height: 600px) and (orientation: landscape) {
	.carousel {
		pointer-events: none;
		width: calc(100% + 20px); /* Add neg margin back */
		--story-height: calc((100vh - 16px) * 4 / 5 + 12px);
	}
	.carousel .track {
		pointer-events: none;
		background: none;
	}
	.carousel .slide {
		height: var(--story-height);
	}
	.carousel .slide.hidden * {
		pointer-events: none;
	}
	.carousel .slide .container {
		align-items: end;
		pointer-events: none;
		align-content: end;
		padding-bottom: 20px;
	}
	.carousel .slide .content {
		padding: 0 20px;
		margin: 0;
		align-content: end;
		pointer-events: all;
		position: relative;
		background: transparent url(./assets/svg/timeline-bg.svg) repeat-y 0 0;
	}
	.carousel .footer,
	.carousel .body {
		overflow: hidden;
	}

	/* Content */
	.carousel .title {
		font-size: 24px;
		line-height: 95%;
		margin-bottom: 10px;
		margin-right: 25px;
	}
	.carousel .phase .label {
		display: none;
	}
	.carousel .description {
		display: none;
	}
	.carousel .description.mobile {
		display: block;
	}
	
	/* Buttons */
	.carousel .navigation-button {
		display: none;
	}
	.carousel .collapse-button {
		position: absolute;
		top: auto;
		bottom: 0;
		right: 0;
		outline: none;
	}
	.carousel .hint-button {
		position: absolute;
		top: -30px;
		left: 50%;
		transform: rotate(-90deg) translateY(-50%) scale(1);
		pointer-events: none;
		display: none;
	}

	/* Animations */
	@keyframes shrink {
		0% {
			max-height: var(--story-height);
		}
		100% {
			max-height: 0;
		}
	}
	@keyframes develop {
		0% {
			max-height: 0;
		}
		100% {
			max-height: var(--story-height);
		}
	}
	.carousel.expand .footer,
	.carousel.expand .body {
		animation-name: develop;
		animation-duration: 1.0s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}
	.carousel.collapse .footer,
	.carousel.collapse .body {
		animation-name: shrink;
		animation-duration: 0.4s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}
	.carousel.expand .hint-button {
		animation-name: pulse;
		animation-duration: 0.75s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 8;
		animation-fill-mode: both;
		animation-direction: alternate;
		display: block;
	}
}