.story-back-button {
	border-bottom: 1px solid var(--grayDark);
	padding-bottom: 10px;
	width: 100%;
}
.story-back-button .container {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 5px;
}

.story-back-button h5 {
	opacity: 0.6;
}

/* Exclude panorama. Big landscape tablets, laptops/desktops, and above */
@media only screen and (min-width: 1025px) and (min-height: 600px) {
	.story-back-button {
		display: none;
	}
}
