.story-back-button .container {
	display: inline-grid;
    grid-template-columns: auto auto;
	align-items: center;
	justify-content: start;
	gap: 5px;
	background-color: var(--grayDarkAlpha);
	padding: 5px 10px 5px 5px;
	border-radius: 3px;
}

/* Phones, 991px and down */
@media only screen and (max-width: 991px) {
	.story-back-button {
		border-bottom: 1px solid var(--grayDark);
		padding-bottom: 20px;
		width: 100%;
	}
}
/* Laptops/desktops, large devices, and screens with width >= 992px */
@media only screen and (min-width: 992px) {
	.story-back-button {
		display: none;
	}
}

/* Mobile landscape, panorama with height less than 600px */
@media only screen and (max-height: 600px) and (orientation: landscape) {
	.story-back-button {
		border-bottom: 1px solid var(--grayDark);
		padding-bottom: 15px;
		width: 100%;
	}
}