.story-back-button {
	border-bottom: 1px solid var(--grayDark);
	padding-bottom: 10px;
	width: 100%;
}
.story-back-button .container {
	display: inline-block;
	background-color: var(--grayDarkAlpha);
	border-radius: 3px;
}

/* Exclude panorama. Big landscape tablets, laptops/desktops, and above */
@media only screen and (min-width: 1025px) and (min-height: 600px) {
	.story-back-button {
		display: none;
	}
}
