.carousel .track {
	background: transparent url(../assets/svg/timeline-bg.svg) repeat-y 0 0;
}
.carousel .slide {
	position: relative;
}
.carousel .slide .content {
	font-size: 1em;
}
.carousel.vertical .navigation-button {
	text-align: left;
	padding-left: 10%;
	position: absolute;
	top: 0;
}
.carousel.vertical .navigation-button.next {
	top: auto;
	bottom: 0;
}
.carousel.vertical .navigation-button.prev {
	display: none;
}
.carousel .navigation-button:focus {
	outline: 0;
}
.carousel .navigation-button:hover {
	background: transparent;
}

.carousel .slide .content .live {
	color: var(--live);
	text-transform: uppercase;
}

.carousel .slide .content .description,
.carousel .slide .content .touchdown {
	opacity: 0.6;
}
.carousel .slide .content .touchdown {
	margin-bottom: 20px;
}
.carousel .slide.hidden {
	opacity: 0;
}

.unit {
	margin-left: 4px;
}

/* Phones, 991px and down */
@media only screen and (max-width: 991px) {
	/* .carousel .slide {
		height: 40vh;
	} */

	.carousel .slide .content {
		padding: 0 5%;
		font-size: 0.8em;
	}

	.carousel .slide .content h1 {
		font-size: 2em;
	}

	.carousel .slide .content .description {
		display: none;
	}

	.carousel .navigation-button {
		padding: 0 5%;
	}
}

/* Mobile landscape, panorama with height less than 600px */
@media only screen and (max-height: 600px) and (orientation: landscape) {
	/* .carousel .slide {
		height: 60vh;
	} */
}

/* Laptops/desktops, large devices, and screens with width >= 992px */
@media only screen and (min-width: 992px) {
	.carousel {
		height: calc(100% - 85px);
	}
	.carousel .slide {
		/* height: 60vh; */
		height: calc(100vh - 85px);
	}

	.carousel .slide .content {
		padding-right: 0;
	}
}
