/* Generic */
* {
	box-sizing: border-box;
	user-select: none;
}
body {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0;
	font-family: "Metropolis", sans-serif;
	font-weight: 300;
	color: var(--white);
}
body .semi {
	letter-spacing: 0.02em;
}
.semi {
	font-weight: 600;
}
.small {
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0;
	font-family: "Metropolis", sans-serif;
}
.x-small {
	font-size: 12px;
	line-height: 180%;
	letter-spacing: 0.03em;
	font-family: "Metropolis", sans-serif;
}
.tiny {
	font-size: 11px;
	line-height: 180%;
	letter-spacing: 0.03em;
	font-family: "Metropolis", sans-serif;
}
.hidden {
	display: none;
}

/* Headers */
.display,
h1,
h2,
h3,
h4,
h5 {
	color: var(--white);
	font-family: "Metropolis", sans-serif;
	letter-spacing: -0.02em;
	margin: 0;
}
.display.semi,
h1.semi,
h2.semi,
h3.semi,
h4.semi,
h5.semi {
	letter-spacing: -0.02em;
	font-weight: 600;
}
.display {
	font-size: 48px;
	line-height: 120%;
	font-weight: 100;
}
h1 {
	font-size: 41px;
	line-height: 120%;
	font-weight: 100;
}
h2 {
	font-size: 36px;
	line-height: 120%;
	font-weight: 100;
}
h3 {
	font-size: 29px;
	line-height: 95%;
	font-weight: 300;
}
h3.semi {
	line-height: 100%;
}
h4 {
	font-size: 22px;
	line-height: 120%;
	font-weight: 300;
}
h5 {
	font-size: 18px;
	line-height: 180%;
	font-weight: 300;
}
h5.semi {
	line-height: 150%;
}

/* Buttons */
button {
	background-color: transparent;
	border: 0;
}

a:active,
a:visited,
a {
	color: var(--white);
	text-decoration: none;
	pointer-events: all;
}

/* Support line break in text */
.line-break-text {
	white-space: pre-line;
}

/* Alert outline */
.alert {
	outline: none;
	outline-offset: 4px;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 3;
	animation-direction: alternate;
}
@keyframes blink {
	0% { outline: 1px transparent solid; }
	25% { outline: 1px var(--error) solid; }
	50% { outline: 4px var(--error) solid; }
	75% { outline: 1px var(--error) solid; }
	100% { outline: 1px transparent solid; }
}

.grid-layout .float-mid-bottom {
	display: none;
}
.grid-layout .float-mid-bottom.active {
	display: grid;
	animation-name: fade-in-bottom;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}
.grid-layout .float-mid-bottom.hidden {
	display: grid;
	animation-name: fade-out-bottom;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

/* Additional icons */
.icon.icon-nasa-logo {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(./assets/svg/nasa_logo.svg);
	width: 45px;
	height: 45px;
}
.icon-bg {
	background: var(--grayDarkAlpha);
	border-radius: 3px;
}
@media (hover: hover) {
	.icon-bg:hover {
		background: var(--grayAlpha);
	}
	.icon-info:hover,
	.icon-plus:hover,
	.icon-minus:hover,
	.icon-box:hover .icon-natural-light,
	.icon-box:hover .icon-flood-light {
		opacity: 1;
	}
	.icon-box.guided-camera:hover {
		color: var(--white);
	}
}

/* Pioneer CSS */
.pioneer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: grab;
}
.pioneer .pioneer-label-div {
	white-space: nowrap;
	cursor: pointer;
}
.pioneer .pioneer-label-div.disabled {
	color: rgba(255, 255, 255, 0.5);
	cursor: default;
	pointer-events: none;
}
.pioneer .pioneer-label-div::before {
	content: "⌾ ";
	display: inline-block;
	margin-left: -0.35em;
	margin-top: 0.20em;
	padding-bottom: 0.25em;
	padding-right: 0.25em;
}
