/* TODO: Move somewhere else */
.grid-layout .float-mid-bottom {
	display: none;
}
.grid-layout .float-mid-bottom.active {
	display: grid;
	animation-name: fade-in-bottom;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}
.grid-layout .float-mid-bottom.hidden {
	display: grid;
	animation-name: fade-out-bottom;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

/* Pioneer CSS */
.pioneer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: grab;
}
.pioneer .pioneer-label-div {
	white-space: nowrap;
	cursor: pointer;
}
.pioneer .pioneer-label-div.disabled {
	color: rgba(255, 255, 255, 0.5);
	cursor: default;
	pointer-events: none;
}
.pioneer .pioneer-label-div::before {
	content: "⌾ ";
	display: inline-block;
	margin-left: -0.35em;
	margin-top: 0.20em;
	padding-bottom: 0.25em;
	padding-right: 0.25em;
}
