.time-controller label {
	opacity: 0.6;
}
.time-controller .play-pause {
	margin-right: 30px;
}
.time-controller .vertical-line {
	opacity: 0.6;
}
.time-controller .next-rate,
.time-controller .prev-rate {
	position: relative;
}
.time-controller .icon-forward,
.time-controller .icon-backward {
	opacity: 0.2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body.hover .time-controller .next-rate:hover .icon-forward,
body.hover .time-controller .prev-rate:hover .icon-backward {
	opacity: 1.0;
}
.time-controller .prev-rate .container,
.time-controller .next-rate .container {
	background-color: var(--grayDarkAlpha);
}
body.hover .time-controller .prev-rate:hover .container,
body.hover .time-controller .next-rate:hover .container {
	background-color: var(--grayAlpha);
}

.time-controller .rate-display-label {
	white-space: nowrap;
}

/* Phones, 991px and down */
@media only screen and (max-width: 991px) {
	.time-controller .prev-rate .container,
	.time-controller .next-rate .container {
		height: 22px;
	}
	.time-controller .vertical-line {
		height: 29px;
	}
	.time-controller {
		padding-top: 20px;
		margin-bottom: 20px;
		border-top: 1px solid var(--grayDark);
	}
}

/* Laptops/desktops, large devices, and screens with width >= 992px */
@media only screen and (min-width: 992px) {
	.time-controller .prev-rate .container,
	.time-controller .next-rate .container {
		height: 10px;
	}
}

/* Mobile landscape, panorama with height less than 600px */
@media only screen and (max-height: 600px) and (orientation: landscape) {
	.time-controller .prev-rate .container,
	.time-controller .next-rate .container {
		height: 22px;
	}
	.time-controller .vertical-line {
		height: 29px;
	}
	.time-controller {
		padding-top: 15px;
		margin-bottom: 20px;
		border-top: 1px solid var(--grayDark);
	}
}