.time-controller label {
	opacity: 0.6;
}
.time-controller .play-pause {
	margin-right: 30px;
}
.time-controller .vertical-line {
	opacity: 0.6;
}
.time-controller .next-rate,
.time-controller .prev-rate {
	position: relative;
}
.time-controller .icon-forward,
.time-controller .icon-backward {
	opacity: 0.2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body.hover .time-controller .next-rate:hover .icon-forward,
body.hover .time-controller .prev-rate:hover .icon-backward {
	opacity: 1.0;
}
.time-controller .prev-rate .container,
.time-controller .next-rate .container {
	background-color: var(--grayDarkAlpha);
}
body.hover .time-controller .prev-rate:hover .container,
body.hover .time-controller .next-rate:hover .container {
	background-color: var(--grayAlpha);
}

.time-controller .rate-display-label {
	white-space: nowrap;
}

/* 480x320 phones and above */
@media only screen and (min-width: 320px) {
	.time-controller .prev-rate .container,
	.time-controller .next-rate .container {
		height: 22px;
	}
	.time-controller .vertical-line {
		height: 29px;
	}
	.time-controller {
		padding-top: 10px;
		margin-bottom: 10px;
		border-top: 1px solid var(--grayDark);
	}
	.time-controller .prev-rate,
	.time-controller .next-rate {
		width: 60px;
	}
	.time-controller .rate-container {
		margin-left: 8px;
	}
}

/* Landscape. 480x320 phones and above */
@media only screen and (min-width: 320px) and (orientation: landscape),
	/* Portrait. Portrait tablets/iPad and above */
	only screen and (min-width: 641px) and (orientation: portrait) {
	.time-controller .prev-rate,
	.time-controller .next-rate {
		width: 75px;
	}
}

/* Exclude panorama. Big landscape tablets, laptops/desktops, and above */
@media only screen and (min-width: 1025px) and (min-height: 600px) {
	.time-controller .prev-rate .container,
	.time-controller .next-rate .container {
		height: 10px;
	}
	.time-controller .vertical-line {
		height: 20px;
	}
	.time-controller {
		padding-top: 0;
		margin-bottom: 0;
		border-top: none;
	}
	.time-controller .prev-rate,
	.time-controller .next-rate {
		width: 80px;
	}
	.time-controller .rate-container {
		margin-left: 0;
	}
}
