@font-face {
	font-family: "Montserrat-Regular";
	src: url("assets/fonts/Montserrat-Regular.ttf");
}

:root {
	--fg: rgb(255, 234, 228);
	--bg: rgb(0, 0, 0);
	--border: rgb(238, 137, 54);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat-Regular';
	color: var(--fg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

/* Pioneer CSS */

.pioneer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pioneer .pioneer-label-div {
	white-space: nowrap;
	cursor: pointer;
}

.pioneer .pioneer-label-div.disabled {
	color: rgba(255, 255, 255, 0.5);
	cursor: default;
	pointer-events: none;
}

.pioneer .pioneer-label-div:before {
	content: "⌾ ";
	display: inline-block;
	margin-left: -.35em;
	margin-top: .20em;
	padding-bottom: .25em;
	padding-right: .25em;
}

/* UI CSS */

.ui {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 8rem 1fr 8rem;
}

.ui #header {
	grid-area: header;
}

.ui #footer {
	grid-area: footer;
}

.ui #footer #left {
	margin-left: 1rem;
	font-size: 1.25rem;
}

.ul #footer #left p {
	margin-bottom: 0;
}

.ui #title {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0;
}

.ui #target {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

/* Time Control */

#time-control {
	margin-top: 1rem;
	text-align: center;
}

#time-control #date {
	display: block;
	font-size: 1.5em;
}

#time-control #time {
	display: block;
	font-size: 1.25em;
}
